@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
    0%, 100% {
        background: linear-gradient(45deg, #00cc00, #ff9900);
    }
    20% {
        background: linear-gradient(45deg, #ff9900, #00cc00);
    }
    40% {
        background: linear-gradient(45deg, #00cc00, #ff9900);
    }
    60% {
        background: linear-gradient(45deg, #ff9900, #00cc00);
    }
    80% {
        background: linear-gradient(45deg, #00cc00, #ff9900);
    }
}

.gradientButton:active {
    animation-name: gradientAnimation;
    animation-duration: 2s
}